
    <%- include("includes/header.ejs") %>

    <div id="bodyContainer">
        
        <% for( let prods of products) { %>

            <div id="productContainer">
                <img src="/<%= prods.image %>" class="imagPreview">
                <p id="price">Price : $<%= prods.price %></p>
                <% if(isAuthenticated){ %>
                    <form action="/cart-items/<%= prods._id %>" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="number" class="productCount" value="1" name="count">
                        <button id="addToChart" class="register" type="submit">Add to chart</button>
                    </form>
                <% } %>
            </div>
        
        <% } %>

    </div>

    <div id="pagination">
        
        <% if(currentPage !== 1 && previousPage !== 1 ) { %>
            <a href="/?page=1" id="paginationLink">1</a>
        <% } %>
        <a href="/?page=<%= currentPage %>" id="paginationLink"><%= currentPage %></a>
        <% if(hasPreviousPage) { %>
            <a href="/?page=<%= previousPage %>" id="paginationLink"><%= previousPage %></a>
        <% } %>
        <% if(hasNextPage) { %>
            <a href="/?page=<%= nextPage %>" id="paginationLink"><%= nextPage %></a>
        <% } %>
        <% if(lastPage !== currentPage && nextPage !== lastPage ) { %>
            <a href="/?page=<%= lastPage %>" id="paginationLink"><%= lastPage %></a>
        <% } %>
    </div>

    <%- include("includes/footer.ejs") %>

</body>
</html>